.fa-info {
    position: absolute;
    right: 2px;
    box-shadow: 0 0 1px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50px;
    top: 10px;
    cursor: pointer;
    background: #f5a622;
    font-size: 10px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.jq-icon-info {
    background-color: #4fc6e1 !important;
    color: #fff !important;
    border-color: #4fc6e1 !important;
}

.jq-icon-error {
    background-color: #f1556c !important;
    color: #fff !important;
    border-color: #f1556c !important;
}
